@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  h1,h2,h3,h4,h5,h6{
    @apply font-bold
  }

  p{
    @apply mb-4
  }


}

/* Custom Scroll */
/* width */

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: primary;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: primary;
  border-radius: 2rem;
}

/* Handle on hover */
.custom-scroll:hover::-webkit-scrollbar-thumb {
  background: gray;
}


/* Video Hover */

.video-thumbnail{
  @apply inline-block relative 
}

.thumbnail{
  @apply relative w-auto h-auto overflow-hidden
}

.thumnail:hover img{
  @apply opacity-0
}

.thumbnail img {
  @apply w-[100%] h-auto transition-opacity duration-[.3] ease-in
}

.thumbnail video{
  @apply absolute top-0 left-0 w-[100%] h-auto opacity-0 transition-opacity duration-[.3] ease-in
}

.thumbnail:hover video{
  @apply opacity-100
}


